@charset "utf-8";

/* 
	New Perspectives on HTML 5 and CSS, 8th Edition

	Author: Hannah Coladilla
	Date last updated: 12/10/2023
	
	Filename: style.css
*/

/* NOTES:

2, 19, 39 = darkest blue
4, 51, 98 = dark blue
66, 122, 161 = light blue
235, 242, 250 = alice blue
ebf2fa = alice blue hex

103, 148, 54 = green
165, 190, 0 = yellow green

*/

/* Heading Styles */

h1 {
	color: rgb(4, 51, 98); 
	font-family: Tahoma, sans-serif;
	font-size: 45px;
	background-color: rgb(66, 122, 161);
	margin: 0;
	margin-top: 70px;
	text-align: center;
}

#header1 {
	color: rgb(4, 51, 98); 
	font-family: Tahoma, sans-serif;
	font-size: 45px;
	background-color: rgb(66, 122, 161);
	margin: 0;
	text-align: center;
}

h2 {
	color: rgb(4, 51, 98); 
	font-family: Tahoma, sans-serif;
	font-size: 18px;
}

/* Paragraph Styles */

p {
	color: rgb(2, 19, 39); 
	font-size: 16px; 
	font-family: Helvetica, sans-serif;
	margin-left: 80px;
	margin-right: 80px;
}

/* Body Style */

body {
	margin: 0;
	padding: 0;
}

/* List Styles */

ul {
	color: rgb(2, 19, 39); 
	font-size: 16px;
	font-family: Helvetica, sans-serif;
	list-style: square;
	display: inline-block;
}

/* Nav Style */\

nav {
	display: flex;
	flex-flow: row wrap;
	flex-direction: column;
	border-bottom: 1px solid #ebf2fa;
}

nav a {
	font-size: 25px;
	text-align: center;
	padding: 14px 16px;
	float: right;
	background-color: rgb(66, 122, 161);
	text-decoration: none;
	transition: background-color 1s ease,
				color 1s ease;
}

nav > ul {
	list-style-type: none;
	background-color: rgb(66, 122, 161);
	width: 100%;
	margin: 0;
	padding: 0;
	position: fixed;
	border-bottom: 1px solid #ebf2fa;
}

#nav a:visited {
	color: rgb(165, 190, 0);
}

#nav a:hover {
	color: goldenrod;
	background-color: rgb(4, 51, 98); 
}

#nav a:active {
	color: crimson;
}

/* Padding Styles */

.custom_padding {
    padding-top: 5px;
    padding-right: 20px;
    padding-bottom: 5px;
    padding-left: 20px;
}

.center_padding {
	padding-top: 5px;
    padding-right: 20px;
    padding-bottom: 5px;
    padding-left: 20px;
	text-align: center;
}

/* Table Syles */

table {
	border: 1px solid rgb(2, 19, 39);
	border-color: rgb(2, 19, 39);
	border-spacing: 10px;
	border-collapse: collapse;
	margin-left: 80px;
	margin-right: 80px;
	background: linear-gradient(rgb(235, 242, 250) 36%, rgb(66, 122, 161));
}

th {
	color: rgb(4, 51, 98);
	background-color: rgb(66, 122, 161);
	border: 1px solid rgb(2, 19, 39);
	font-family: Tahoma, sans-serif;
}

td {
	color: rgb(2, 19, 39);
	padding: 3px;
	border: 1px solid rgb(2, 19, 39);
	font-family: Tahoma, sans-serif;
}

/* Button Style */

button {
	color: rgb(2, 19, 39); 
	font-size: 18px; 
	font-family: Helvetica, sans-serif;
	border-radius: 5px;
}
	
/* Form Styles */

form {
	color: rgb(2, 19, 39); 
	font-family: Helvetica, sans-serif;
	margin: 10px 10px;
	display: flex;
	flex-flow: row wrap;
}

form > fieldset {
	padding: 5px;
	margin: 10px;
	flex: 1 1 300px;
}

legend {
	font-size: 30px;
	padding: 2px;
}

div.formRow {
	display: flex;
	flex-flow: row wrap;
	margin: 10px 10px;
}

div.formRow2 {
	margin: 10px 10px;
}

div.formRow > * {
	flex: 1 1 300px;
}

/* Link Style */

a { 
	color: rgb(4, 51, 98);
	transition: color 1s;
}

a:visited {
	color: rgb(165, 190, 0);
	transition: color 1s;
}

a:hover {
	color: goldenrod;
}

a:active {
	color: crimson;
}
