@charset "utf-8";

/* 
	New Perspectives on HTML 5 and CSS, 8th Edition

	Author: Hannah Coladilla
	Date last updated: 12/4/2023
	
	Filename: style.css
*/

/* NOTES:

2, 19, 39 = darkest blue
4, 51, 98 = dark blue
66, 122, 161 = light blue
235, 242, 250 = alice blue
ebf2fa = hex

103, 148, 54 = green
165, 190, 0 = yellow green

*/

/* Heading Styles */

h1 {
	color: rgb(4, 51, 98); 
	font-family: oswald, sans-serif;
	font-size: 60px;
	background-color: rgb(66, 122, 161);
	margin: 0;
	text-align: center;
}

h2 {
	color: rgb(4, 51, 98); 
	font-family: oswald, sans-serif;
	font-size: 18px;
	background-color: rgb(66, 122, 161);
}

/* Paragraph Styles */

p {
	display: block;
	color: rgb(2, 19, 39); 
	font-size: 16px; 
	font-family: oxygen, sans-serif;
}


/* Body Style */

body {
	margin: 0;
	padding: 0;
}

/* Image Styles */

img {
	float: right;
}

/* List Styles */

ul {
	color: rgb(2, 19, 39); 
	font-size: 16px;
	font-family: oxygen, sans-serif;
	list-style: square;
	display: inline-block;
}

/* Nav Style */

nav a {
	font-size: 25px;
	text-align: center;
	padding: 14px 16px;
	float: left;
	width: 23%;
	background-color: rgb(66, 122, 161);
	text-decoration: none;
	transition: color 1s ease;
}

nav > ul {
	list-style-type: none;
	background-color: rgb(66, 122, 161);
	width: 100%;
	margin: 0;
	padding: 0;
}

#nav a:visited {
	color: rgb(165, 190, 0);
}

#nav a:hover {
	color: goldenrod;
}

#nav a:active {
	color: crimson;
}

/* Padding Styles */

.custom_padding {
    padding-top: 5px;
    padding-right: 20px;
    padding-bottom: 5px;
    padding-left: 20px;
}

/* Table Syles */

table {
	border: 1px solid rgb(2, 19, 39);
	border-color: rgb(2, 19, 39);
	border-spacing: 10px;
	border-collapse: collapse;
	background: linear-gradient(white, rgb(197, 215, 197));
}

th {
	color: DarkOliveGreen;
	background-color: rgb(197, 215, 197);
	border: 1px solid rgb(2, 19, 39);
}

td {
	color: rgb(2, 19, 39);
	padding: 3px;
	border: 1px solid rgb(2, 19, 39);
}

/* Button Style */

button {
	color: rgb(2, 19, 39); 
	font-size: 18px; 
	font-family: oxygen, sans-serif;
	border-radius: 5px;
}

#email_button {
	background: none;
	border: 2px solid rgb(2, 19, 39);
	transition: background-color 1s;
}

#email_button:hover {
	background-color: rgb(197, 215, 197);
	border: 2px solid rgb(2, 19, 39);
}

#email_button:visited {
	background-color: rgb(157, 180, 154);
	border: 2px solid rgb(2, 19, 39);
}
	
/* Form Styles */

form {
	color: rgb(2, 19, 39); 
	font-family: oxygen, sans-serif;
	margin: 10px 10px;
	display: flex;
	flex-flow: row wrap;
}

form > fieldset {
	border-radius: 20px;
	padding: 5px;
	margin: 10px;
	flex: 1 1 300px;
}

legend {
	font-size: 30px;
	padding: 2px;
}

div.formRow {
	display: flex;
	flex-flow: row wrap;
	margin: 10px 10px;
}

div.formRow2 {
	margin: 10px 10px;
}

div.formRow > * {
	flex: 1 1 300px;
}

/* Link Style */

a { 
	color: saddlebrown;
	transition: color 1s;
}

a:visited {
	color: cadetblue;
	transition: color 1s;
}

a:hover {
	color: goldenrod;
}

a:active {
	color: crimson;
}

/* Text Style */

.whiteborder {
    text-shadow:
    -1px -1px 0px #ebf2fa,
    1px -1px 0px #ebf2fa,
    -1px 1px 0px #ebf2fa,
    1px 1px 0px #ebf2fa;  
}


